:root {
    --pri: #151515;
    --sec: #ffffff;
    --tri: #1616ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

html,
body {
    height: 100%;
    width: 100%;
}


main {
    height: 100%;
    width: 100%;

    section.top {
        width: 100%;
        height: 40%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

    section.bottom {
        width: 100%;
        height: 60%;
        background-color: var(--pri);
        padding: 4rem 2rem;
        text-align: start;
        color: var(--sec);
        font-size: 1rem;


        .cards {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 1rem;

            .todo {
                background-image: url(./images/To-do\ img.jpg);
            }

            .daily-planner {
                background-image: url(./images/Daily\ planner\ img.jpg);

            }

            .pomo {
                background-image: url(./images/Pomodoro\ img.jpg);
            }

            .quotes {
                background-image: url(./images/Motivation\ img.jpg);
            }

            .goals {
                background-image: url(./images/Daily\ Goals\ img.jpg);
            }

            div {
                height: 250px;
                width: 270px;
                border-radius: 1rem;
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 1rem;
                font-size: 1.5rem;
                transition: all 0.5s ease;
                width: 100%;
            }

            div:active {
                scale: 0.96;
            }
        }

    }

    .fulls {
        position: absolute;
        z-index: 10;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--pri);
        color: var(--sec);
        transition: all 0.3s ease-in;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .back-btn {
                background-color: red;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 0.2rem;
                transition: all 0.2s ease;
            }

            .back-btn:active {
                scale: 0.9;
            }

        }

    }

    section.todo-full {

        left: -100%;
        display: flex;
        padding: 2rem;
        flex-direction: column;



        .top {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            height: 90%;
            width: 100%;


            .left {
                // background-color: blue;
                width: 40%;
                height: 100%;
                padding: 2rem;
                border-radius: 1rem;
                background-color: rgba(72, 72, 72, 0.668);

                form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;
                }

                input {
                    width: 100%;
                    height: 50px;
                    background-color: var(--sec);
                    border: none;
                    padding: 1rem;
                    border-radius: 0.5rem;

                }

                textarea {
                    height: 100%;
                    width: 100%;
                    background-color: var(--sec);
                    border: none;
                    color: gray;
                    padding: 1rem;
                    border-radius: 0.5rem;
                }

                button {
                    width: 100%;
                    height: 50px;
                    color: white;
                    background-color: var(--tri);
                    border: none;
                    border-radius: 0.5rem;
                }

            }

            .right {
                background-color: rgba(72, 72, 72, 0.668);
                width: 60%;
                height: 100%;
                padding: 2rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                overflow: auto;

                div {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .task-left {
                        display: flex;
                        gap: 1rem;

                        .input {
                            height: 10px;
                            width: 10px;
                        }
                    }

                    button {
                        border: none;
                        padding: 0.7rem;
                        background-color: var(--tri);
                        color: white;
                        border-radius: 0.5rem;
                    }

                }

            }
        }

    }

    section.daily-full {
        left: -100%;
        padding: 2rem;

        .top {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .bottom {

            background-color: rgba(255, 255, 255, 0.095);
            height: 90%;
            width: 100%;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                position: relative;
                min-width: 47%;

                input {
                    background-color: rgba(255, 255, 255, 0.193);
                    color: var(--sec);
                    height: 50px;
                    width: 100%;
                    padding: 1.5rem 2rem;
                    border: 1px solid var(--pri);
                    border-radius: 1rem;


                }

                p {
                    position: absolute;
                    top: 2%;
                    left: 2%;
                    font-size: 10px;
                }
            }

        }



    }

    section.pomo-full {
        left: -100%;
        overflow: hidden;
        padding: 2rem;

        .bottom {
            height: 100%;

            .time-elements {

                width: fit-content;
                position: absolute;
                top: 50%;   
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                align-items: center;

                button{
                    background-color: var(--tri);
                    border: none;
                    border-radius: 1rem;
                    padding: 0.5rem 0.7rem;
                    color: var(--sec);
                    font-weight: 400;
                    font-size: 1rem;
                    transition: all 0.2s ease;
                }

                button:active{
                    scale: 0.9;
                }

                .selecttime{
                    display: flex;
                    gap: 1rem;
                }

                .time {

                    font-size: 4rem;
                }

                .buttons{
                    display: flex;
                    gap: 1rem;
                    margin-top: 1rem;
                }

            }

        }

    }

    section.quotes-full {

        left: -100%;
        padding: 2rem;
        overflow: hidden;

        .bottom{

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .quotes{
                height: 50%;
                width: 40%;
                background-color: #cfcfcf2b;
                border-radius: 1rem;
                box-shadow: 0 0 30px var(--tri);
                padding:2rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-align: left;
                position: relative;
                
                .author{
                    position: absolute;
                    bottom: 10%;
                    right: 5%;
                }
            }

        }

    }

    section.goals-full {
        left: -100%;
    }
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    
    main {
        
        section.top {
            height: 30%;
        }
        
        section.bottom {
            height: 70%;
            padding: 2rem 1rem;
            
            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
            
            .cards {
                flex-direction: column;
                gap: 1rem;
                
                div {
                    height: 200px;
                    width: 100%;
                    font-size: 1.2rem;
                }
            }
        }
        
        section.todo-full {
            padding: 1rem;
            
            .top {
                margin-bottom: 1rem;
                
                h1 {
                    font-size: 1.2rem;
                }
                
                .back-btn {
                    padding: 0.5rem 0.8rem;
                    font-size: 0.9rem;
                }
            }
            
            .bottom {
                flex-direction: column;
                gap: 1rem;
                
                .left {
                    width: 100%;
                    padding: 1rem;
                    
                    input {
                        height: 45px;
                    }
                    
                    button {
                        height: 45px;
                    }
                }
                
                .right {
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
        
        section.daily-full {
            padding: 1rem;
            
            .top {
                margin-bottom: 1rem;
                
                h1 {
                    font-size: 1.2rem;
                }
                
                .back-btn {
                    padding: 0.5rem 0.8rem;
                    font-size: 0.9rem;
                }
            }
            
            .bottom {
                padding: 0.5rem;
                
                div {
                    min-width: 100%;
                    margin-bottom: 0.5rem;
                    
                    input {
                        height: 45px;
                        padding: 1rem;
                    }
                    
                    p {
                        font-size: 9px;
                    }
                }
            }
        }
        
        section.pomo-full {
            padding: 1rem;
            
            .top {
                h1 {
                    font-size: 1.2rem;
                }
                
                .back-btn {
                    padding: 0.5rem 0.8rem;
                    font-size: 0.9rem;
                }
            }
            
            .bottom {
                .time-elements {
                    
                    .selecttime {
                        flex-direction: column;
                        gap: 0.5rem;
                        
                        button {
                            font-size: 0.9rem;
                            padding: 0.5rem;
                        }
                    }
                    
                    .time {
                        font-size: 3rem;
                    }
                    
                    .buttons {
                        flex-direction: column;
                        gap: 0.5rem;
                        
                        button {
                            font-size: 0.9rem;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
        
        section.quotes-full {
            padding: 1rem;
            
            .top {
                h1 {
                    font-size: 1.2rem;
                }
                
                .back-btn {
                    padding: 0.5rem 0.8rem;
                    font-size: 0.9rem;
                }
            }
            
            .bottom {
                .quotes {
                    width: 90%;
                    height: 60%;
                    padding: 1.5rem;
                    
                    h1 {
                        font-size: 1.2rem;
                    }
                    
                    .author {
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Extra small mobile devices */
@media (max-width: 480px) {
    
    main {
        
        section.top {
            height: 25%;
        }
        
        section.bottom {
            height: 75%;
            padding: 1.5rem 0.5rem;
            
            h2 {
                font-size: 1.2rem;
            }
            
            .cards {
                div {
                    height: 150px;
                    font-size: 1rem;
                    padding: 0.5rem;
                }
            }
        }
        
        section.todo-full {
            .top h1 {
                font-size: 1rem;
            }
            
            .bottom {
                .left, .right {
                    padding: 0.5rem;
                }
            }
        }
        
        section.daily-full {
            .top h1 {
                font-size: 1rem;
            }
        }
        
        section.pomo-full {
            .top h1 {
                font-size: 1rem;
            }
            
            .bottom {
                .time-elements {
                    .time {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        
        section.quotes-full {
            .top h1 {
                font-size: 1rem;
            }
            
            .bottom {
                .quotes {
                    width: 95%;
                    height: 70%;
                    padding: 1rem;
                    
                    h1 {
                        font-size: 1rem;
                    }
                    
                    .author h3 {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}